**Installation of Faker library**

In [2]:
pip install Faker

Collecting Faker
  Downloading Faker-13.3.3-py3-none-any.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 4.9 MB/s
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: typing-extensions>=3.10.0.2 in /usr/local/lib/python3.7/dist-packages (from Faker) (3.10.0.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->Faker) (1.15.0)
Installing collected packages: Faker
Successfully installed Faker-13.3.3

In [3]:
from faker import Faker
fakeobject = Faker()

**Generating basic data points (Name, Address, Job, Dates, etc.)**

In [4]:
fakeobject.name()

'Anthony Carrillo'

In [5]:
print(fakeobject.first_name())
print(fakeobject.last_name())

Carmen
Snyder

In [6]:
fakeobject.address()

'86920 Sherry Causeway Suite 416\nNew Davidville, ME 76356'

In [7]:
print(fakeobject.job())

Architectural technologist

In [8]:
print(fakeobject.city())

New Amanda

In [9]:
print(fakeobject.latitude(), fakeobject.longitude())

61.195017 54.087525

In [10]:
print(fakeobject.text())

Us ago course still friend model pull them. Mother bit tree require matter. Ok memory explain cost again degree buy.
Role prove player concern. Drop perhaps particular consider.

In [11]:
#This statement generates a dummy word
print(f'single word: {fakeobject.word()}')
#This statement genetaes a list of 5 dummy words
print(f'list of 5 words: {fakeobject.words(5)}')

single word: tonight
list of 5 words: ['form', 'this', 'spring', 'series', 'camera']

In [12]:
listofwords = ['laptop', 'technology', 'science', 'mathematics', 'space']
print(f'random unique words: {fakeobject.words(3, listofwords, True)}')

random unique words: ['mathematics', 'technology', 'science']

In [13]:
print(f'Random int: {fakeobject.random_int()}')
print(f'Random int: {fakeobject.random_int(0, 10)}')
print(f'Random digit: {fakeobject.random_digit()}')

Random int: 1367
Random int: 3
Random digit: 5

In [14]:
print("Faker methods related to Date and Time")
print(f'Date of birth: {fakeobject.date_of_birth()}')
print(f'Year: {fakeobject.year()}')
print(f'Month: {fakeobject.month()}')
print(f'Month name: {fakeobject.month_name()}')
print(f'Day of week: {fakeobject.day_of_week()}')
print(f'Day of month: {fakeobject.day_of_month()}')
print(f'Time zone: {fakeobject.timezone()}')

Faker methods related to Date and Time
Date of birth: 1909-05-04
Year: 1981
Month: 09
Month name: April
Day of week: Thursday
Day of month: 11
Time zone: Africa/Banjul

**Generating dummy profiles**

In [15]:
profile1 = fakeobject.simple_profile()
profile2 = fakeobject.simple_profile('M')
profile3 = fakeobject.profile(sex='F')
print(profile1)
print(profile2)
print(profile3)

{'username': 'rodriguezcheyenne', 'name': 'Meagan Fletcher', 'sex': 'F', 'address': 'Unit 2283 Box 5530\nDPO AP 02054', 'mail': 'ymckinney@gmail.com', 'birthdate': datetime.date(1953, 8, 12)}
{'username': 'lopezpreston', 'name': 'Todd Knapp', 'sex': 'M', 'address': '505 Harris Mission Suite 640\nColemanport, WA 22765', 'mail': 'kelly14@hotmail.com', 'birthdate': datetime.date(1937, 12, 23)}
{'job': 'Radio broadcast assistant', 'company': 'Dorsey LLC', 'ssn': '851-06-4931', 'residence': '0134 Burton Vista\nWest Andrewview, SC 45982', 'current_location': (Decimal('3.638215'), Decimal('-106.703779')), 'blood_group': 'B+', 'website': ['http://www.jacobs.com/', 'http://wang.com/', 'http://landry.com/'], 'username': 'arthurramirez', 'name': 'Julia Long', 'sex': 'F', 'address': 'Unit 6060 Box 7289\nDPO AP 66377', 'mail': 'ramosmary@gmail.com', 'birthdate': datetime.date(1997, 7, 29)}

**Generating unique data points**

In [16]:
names = [fakeobject.unique.name() for i in range(10)]
for i in range (0,len(names)):
  print(names[i])

Nicole Williams
Sonia Price
Kevin Ramirez
Scott Benitez
Jose Griffith
Erin Winters
Sheila Fitzgerald
Elizabeth Mosley
Maria Morales
Stacey Mccall

In [17]:
Faker.seed(10)
print(fakeobject.name())

Jessica Lane

In [18]:
print(fakeobject.name())

Robert Colon

In [19]:
Faker.seed(10)
print(fakeobject.name())

Jessica Lane

**Generating currency-related information**

In [20]:
print(f'currency: {fakeobject.currency()}')
print(f'currency name: {fakeobject.currency_name()}')
print(f'currency code: {fakeobject.currency_code()}')

currency: ('GNF', 'Guinean franc')
currency name: Serbian dinar
currency code: SEK

In [21]:
print(f'currency name: {fakeobject.cryptocurrency_name()}')
print(f'currency code: {fakeobject.cryptocurrency()}')

currency name: PotCoin
currency code: ('TRX', 'TRON')

**Generating Hashes and UUIDs**

In [22]:
print(f'sha256: {fakeobject.sha256()}')
print(f'md5: {fakeobject.md5()}')

sha256: 19e8d8d8a5398ee248d8cf784880e41d4f7faf0228fb109ca7b84206d302e479
md5: d83fcdbfcd681f99a61d36162c861179

**Generating Internet-related data**

In [23]:
print("Domain related information")
print(f'Host name: {fakeobject.hostname()}')
print(f'Domain name: {fakeobject.domain_name()}')
print(f'Domain word: {fakeobject.domain_word()}')
print(f'TLD: {fakeobject.tld()}')
print(f'URL: {fakeobject.url()}')
print("")
print("Email related information")
print(f'Email: {fakeobject.email()}')
print(f'Safe email: {fakeobject.safe_email()}')
print(f'Free email: {fakeobject.free_email()}')
print(f'Company email: {fakeobject.company_email()}')
print("")
print("Internet protocol related information")
print(f'IPv4: {fakeobject.ipv4()}')
print(f'IPv6: {fakeobject.ipv6()}')
print(f'MAC address: {fakeobject.mac_address()}')

Domain related information
Host name: laptop-51.farley.com
Domain name: fisher.org
Domain word: james-campbell
TLD: com
URL: https://www.turner.com/

Email related information
Email: caustin@example.net
Safe email: youngjames@example.com
Free email: kelsey35@hotmail.com
Company email: egraham@richards.com

Internet protocol related information
IPv4: 194.244.24.80
IPv6: 4d19:19a0:7f21:6822:820:8d0a:973:e89c
MAC address: 24:29:4c:c4:bf:4c

**Generating JSON data**

In [24]:
#Import libraries
from faker import Faker
import json
from random import randint
#Initilaiize the object
fakeobject = Faker()
#Method to generate dummy details of the employees
def input_data(x):
    employee_data ={}
    for i in range(0, x):
      employee_data[i]={}
      employee_data[i]['Employee Id']= randint(1, 10)
      employee_data[i]['name']= fakeobject.name()
      employee_data[i]['address']= fakeobject.address()
      employee_data[i]['job']= fakeobject.job()
      employee_data[i]['city']= fakeobject.city()
      print(employee_data)
    #dictionary dumped as json in a json file
    with open('employee.json', 'w') as fp:
      json.dump(employee_data, fp)
#defining the main method
def main():
    #variable to assign the number of employees
    number_of_employees = 2
    input_data(number_of_employees)
#Invoking the main method
main()

{0: {'Employee Id': 10, 'name': 'Reginald Davis', 'address': '6673 Thomas Pike\nPort David, ME 22119', 'job': 'Ecologist', 'city': 'South Kendra'}}
{0: {'Employee Id': 10, 'name': 'Reginald Davis', 'address': '6673 Thomas Pike\nPort David, ME 22119', 'job': 'Ecologist', 'city': 'South Kendra'}, 1: {'Employee Id': 5, 'name': 'Danny Gardner', 'address': '14769 Peter Ways Suite 384\nGuzmanland, NM 88882', 'job': 'Psychologist, clinical', 'city': 'Taylorside'}}

**Generating data points in multiple languages**

In [25]:
from faker import Faker
fakeobject = Faker('ja_JP')
for i in range(1,6):
    print(i," ",fakeobject.name())

1   松本 幹
2   井上 和也
3   村上 明美
4   松本 あすか
5   鈴木 加奈

**Generating large datasets**

In [26]:
from faker import Faker
import pandas as pd
fakeobject = Faker()
person_data = [fakeobject.profile() for i in range(5)]
dataframe = pd.DataFrame(person_data)
dataframe

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,address,mail,birthdate
0,Translator,Bass-Marsh,143-59-7152,"4765 Jodi Islands Apt. 399\nJohnsonville, NE 3...","(-12.338586, -132.193469)",A+,[https://www.woods.com/],cohenkyle,Kevin Simmons,M,USCGC West\nFPO AP 73314,josephdiaz@hotmail.com,2012-10-08
1,Actor,Coleman Group,896-49-3273,"05457 Malone Road Suite 748\nRomeroview, NV 84321","(1.6776525, 7.356787)",AB+,"[https://castillo.biz/, http://elliott.com/, h...",zmelendez,Angela Fisher,F,"3593 Berg Shoals\nNorth Annettefurt, PA 84171",kendrawilson@yahoo.com,1928-08-05
2,Airline pilot,"Mccall, Dixon and Bailey",407-57-9469,"77977 Michael Manors\nStephaniehaven, MS 25973","(-63.953090, 52.410112)",B+,[http://www.patterson.net/],brandonthompson,Larry Martin,M,"40696 Michael Fields Suite 226\nPughmouth, AZ ...",bonniefisher@hotmail.com,1993-07-31
3,"Nurse, children's",Sanders Inc,241-14-6925,"481 Bass Pike Suite 938\nAlexanderburgh, MS 91387","(-28.552140, -127.979913)",O-,[https://www.kelly-novak.com/],lmorgan,Roberta Smith,F,"7203 Keith View Apt. 336\nRussotown, AL 16647",robersongina@gmail.com,1923-03-14
4,Musician,Smith Group,757-85-2996,"206 Gibson Ferry\nSouth Courtneyfort, VT 48287","(88.768396, -142.120406)",B+,"[https://www.murray.com/, http://wang.com/, ht...",lynchdebbie,Charles Brown,M,"46205 Timothy Mountain\nThompsonberg, MO 80361",shannonlam@gmail.com,1952-05-01