**Installation of Faker library**

In [2]:
pip install Faker

Collecting Faker
  Downloading Faker-13.3.3-py3-none-any.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 4.2 MB/s
Requirement already satisfied: typing-extensions>=3.10.0.2 in /usr/local/lib/python3.7/dist-packages (from Faker) (3.10.0.2)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->Faker) (1.15.0)
Installing collected packages: Faker
Successfully installed Faker-13.3.3

In [3]:
from faker import Faker
fakeobject = Faker()

**Generating basic data points (Name, Address, Job, Dates, etc.)**

In [4]:
fakeobject.name()

'Karen Wallace'

In [5]:
print(fakeobject.first_name())
print(fakeobject.last_name())

Jenna
Massey

In [6]:
fakeobject.address()

'000 Smith Spur\nRachelmouth, IL 50042'

In [7]:
print(fakeobject.job())

Hospital pharmacist

In [8]:
print(fakeobject.city())

East Jessicaville

In [26]:
print(fakeobject.latitude(), fakeobject.longitude())

46.006957 179.190269

In [9]:
print(fakeobject.text())

Loss get value. Fire enter nearly force indeed officer several price. Yourself good discussion financial. Child deep big Democrat cost fund seem.

In [10]:
#This statement generates a dummy word
print(f'single word: {fakeobject.word()}')
#This statement genetaes a list of 5 dummy words
print(f'list of 5 words: {fakeobject.words(5)}')

single word: car
list of 5 words: ['during', 'follow', 'election', 'force', 'message']

In [11]:
listofwords = ['laptop', 'technology', 'science', 'mathematics', 'space']
print(f'random unique words: {fakeobject.words(3, listofwords, True)}')

random unique words: ['laptop', 'science', 'technology']

In [12]:
print(f'Random int: {fakeobject.random_int()}')
print(f'Random int: {fakeobject.random_int(0, 10)}')
print(f'Random digit: {fakeobject.random_digit()}')

Random int: 2484
Random int: 10
Random digit: 6

In [13]:
print("Faker methods related to Date and Time")
print(f'Date of birth: {fakeobject.date_of_birth()}')
print(f'Year: {fakeobject.year()}')
print(f'Month: {fakeobject.month()}')
print(f'Month name: {fakeobject.month_name()}')
print(f'Day of week: {fakeobject.day_of_week()}')
print(f'Day of month: {fakeobject.day_of_month()}')
print(f'Time zone: {fakeobject.timezone()}')

Faker methods related to Date and Time
Date of birth: 2017-06-13
Year: 1972
Month: 04
Month name: January
Day of week: Monday
Day of month: 29
Time zone: Africa/Banjul

**Generating dummy profiles**

In [14]:
profile1 = fakeobject.simple_profile()
profile2 = fakeobject.simple_profile('M')
profile3 = fakeobject.profile(sex='F')
print(profile1)
print(profile2)
print(profile3)

{'username': 'marquezdavid', 'name': 'Melissa Hull', 'sex': 'F', 'address': '66205 Snyder Bypass\nCastilloberg, DE 03522', 'mail': 'arivera@yahoo.com', 'birthdate': datetime.date(1958, 1, 13)}
{'username': 'wrussell', 'name': 'Richard Gibson', 'sex': 'M', 'address': '1373 Veronica Gateway Suite 997\nSouth Kevin, KS 81427', 'mail': 'bcox@yahoo.com', 'birthdate': datetime.date(2008, 6, 29)}
{'job': 'Fast food restaurant manager', 'company': 'White, Spencer and Williams', 'ssn': '369-14-4788', 'residence': '863 Harmon Alley\nJacobsonside, HI 50829', 'current_location': (Decimal('66.5299825'), Decimal('-112.463420')), 'blood_group': 'AB-', 'website': ['http://anderson-orozco.com/', 'http://www.wilson.com/'], 'username': 'stacyperez', 'name': 'Michelle Jenkins', 'sex': 'F', 'address': '4029 Aaron Parks Suite 718\nNew Tannerfort, AR 80962', 'mail': 'ronaldharris@gmail.com', 'birthdate': datetime.date(1952, 9, 30)}

**Generating unique data points**

In [15]:
names = [fakeobject.unique.name() for i in range(10)]
for i in range (0,len(names)):
  print(names[i])

Mia Martinez
Meagan Johnson
Sarah Foster
Joseph Pierce
Paul Ritter
Andrew Baker
Ann Daniels
Erin Scott
Tiffany Morales
Tracy Stevenson

In [16]:
Faker.seed(10)
print(fakeobject.name())

Jessica Lane

In [17]:
print(fakeobject.name())

Robert Colon

In [18]:
Faker.seed(10)
print(fakeobject.name())

Jessica Lane

**Generating currency-related information**

In [19]:
print(f'currency: {fakeobject.currency()}')
print(f'currency name: {fakeobject.currency_name()}')
print(f'currency code: {fakeobject.currency_code()}')

currency: ('GNF', 'Guinean franc')
currency name: Serbian dinar
currency code: SEK

In [20]:
print(f'currency name: {fakeobject.cryptocurrency_name()}')
print(f'currency code: {fakeobject.cryptocurrency()}')

currency name: PotCoin
currency code: ('TRX', 'TRON')

**Generating Hashes and UUIDs**

In [21]:
print(f'sha256: {fakeobject.sha256()}')
print(f'md5: {fakeobject.md5()}')
print(f'uuid4: {fakeobject.uuid4()}')

sha256: 19e8d8d8a5398ee248d8cf784880e41d4f7faf0228fb109ca7b84206d302e479
md5: d83fcdbfcd681f99a61d36162c861179
uuid4: 3fffc830-137a-4777-93e8-eb437d763fb9

**Generating Internet-related data**

In [22]:
print("Domain related information")
print(f'Host name: {fakeobject.hostname()}')
print(f'Domain name: {fakeobject.domain_name()}')
print(f'Domain word: {fakeobject.domain_word()}')
print(f'TLD: {fakeobject.tld()}')
print(f'URL: {fakeobject.url()}')
print("")
print("Email related information")
print(f'Email: {fakeobject.email()}')
print(f'Safe email: {fakeobject.safe_email()}')
print(f'Free email: {fakeobject.free_email()}')
print(f'Company email: {fakeobject.company_email()}')
print("")
print("Internet protocol related information")
print(f'IPv4: {fakeobject.ipv4()}')
print(f'IPv6: {fakeobject.ipv6()}')
print(f'MAC address: {fakeobject.mac_address()}')

Domain related information
Host name: email-50.dalton-morrison.biz
Domain name: campbell-leonard.info
Domain word: jennings
TLD: com
URL: http://montes.biz/

Email related information
Email: aguilarjoe@example.org
Safe email: amanda35@example.net
Free email: egraham@hotmail.com
Company email: megan23@allen-johnson.com

Internet protocol related information
IPv4: 161.39.13.238
IPv6: 14b9:1c79:dae9:8554:ec9c:ce70:8892:63ce
MAC address: 4c:c4:bf:4c:39:31

**Generating JSON data**

In [23]:
#Import libraries
from faker import Faker
import json
from random import randint
#Initilaiize the object
fakeobject = Faker()
#Method to generate dummy details of the employees
def input_data(x):
    employee_data ={}
    for i in range(0, x):
      employee_data[i]={}
      employee_data[i]['Employee Id']= randint(1, 10)
      employee_data[i]['name']= fakeobject.name()
      employee_data[i]['address']= fakeobject.address()
      employee_data[i]['job']= fakeobject.job()
      employee_data[i]['city']= fakeobject.city()
      print(employee_data)
    #dictionary dumped as json in a json file
    with open('employee.json', 'w') as fp:
      json.dump(employee_data, fp)
#defining the main method
def main():
    #variable to assign the number of employees
    number_of_employees = 2
    input_data(number_of_employees)
#Invoking the main method
main()

{0: {'Employee Id': 3, 'name': 'William Lee', 'address': '3429 Michelle Grove Suite 422\nSouth Kendra, NE 29817', 'job': 'Accountant, chartered public finance', 'city': 'West Pennybury'}}
{0: {'Employee Id': 3, 'name': 'William Lee', 'address': '3429 Michelle Grove Suite 422\nSouth Kendra, NE 29817', 'job': 'Accountant, chartered public finance', 'city': 'West Pennybury'}, 1: {'Employee Id': 2, 'name': 'Jerome Aguilar', 'address': '384 Guzman Circles Apt. 776\nSouth Amber, ND 51333', 'job': 'Recruitment consultant', 'city': 'New Scott'}}

**Generating data points in multiple languages**

In [24]:
from faker import Faker
fakeobject = Faker('ja_JP')
for i in range(1,6):
    print(i," ",fakeobject.name())

1   村上 明美
2   松本 あすか
3   鈴木 加奈
4   村上 幹
5   山田 翼

**Generating large datasets**

In [25]:
from faker import Faker
import pandas as pd
fakeobject = Faker()
person_data = [fakeobject.profile() for i in range(5)]
dataframe = pd.DataFrame(person_data)
dataframe

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,address,mail,birthdate
0,Retail banker,Cooper-Green,808-90-7508,"359 Gloria Row\nJohnsonville, NE 32815","(-12.338586, -132.193469)",A+,[https://www.woods.com/],cohenkyle,Kevin Simmons,M,USCGC West\nFPO AP 73314,josephdiaz@hotmail.com,2012-10-05
1,Actor,Coleman Group,896-49-3273,"05457 Malone Road Suite 748\nRomeroview, NV 84321","(1.6776525, 7.356787)",AB+,"[https://castillo.biz/, http://elliott.com/, h...",zmelendez,Angela Fisher,F,"3593 Berg Shoals\nNorth Annettefurt, PA 84171",kendrawilson@yahoo.com,1928-08-02
2,Airline pilot,"Mccall, Dixon and Bailey",407-57-9469,"77977 Michael Manors\nStephaniehaven, MS 25973","(-63.953090, 52.410112)",B+,[http://www.patterson.net/],brandonthompson,Larry Martin,M,"40696 Michael Fields Suite 226\nPughmouth, AZ ...",bonniefisher@hotmail.com,1993-07-28
3,"Nurse, children's",Sanders Inc,241-14-6925,"481 Bass Pike Suite 938\nAlexanderburgh, MS 91387","(-28.552140, -127.979913)",O-,[https://www.kelly-novak.com/],lmorgan,Roberta Smith,F,"7203 Keith View Apt. 336\nRussotown, AL 16647",robersongina@gmail.com,1923-03-11
4,Musician,Smith Group,757-85-2996,"206 Gibson Ferry\nSouth Courtneyfort, VT 48287","(88.768396, -142.120406)",B+,"[https://www.murray.com/, http://wang.com/, ht...",lynchdebbie,Charles Brown,M,"46205 Timothy Mountain\nThompsonberg, MO 80361",shannonlam@gmail.com,1952-04-28