**Installation of Faker library**

In [76]:
pip install Faker

Requirement already satisfied: Faker in /usr/local/lib/python3.7/dist-packages (13.3.2)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: typing-extensions>=3.10.0.2 in /usr/local/lib/python3.7/dist-packages (from Faker) (3.10.0.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->Faker) (1.15.0)

In [77]:
from faker import Faker
fakeobject = Faker()

**Generating basic data points (Name, Address, Job, Dates, etc.)**

In [78]:
fakeobject.name()

'Bethany Esparza'

In [79]:
print(fakeobject.first_name())
print(fakeobject.last_name())

Sarah
Graham

In [80]:
fakeobject.address()

'15764 Kara Track\nDanielsside, TX 98234'

In [81]:
print(fakeobject.job())

Financial controller

In [82]:
print(fakeobject.city())

Port Patrick

In [83]:
print(fakeobject.text())

Majority stop professional small course attack role choice. Option candidate prevent lay take decide activity condition. Happen place easy federal.

In [84]:
#This statement generates a dummy word
print(f'single word: {fakeobject.word()}')
#This statement genetaes a list of 5 dummy words
print(f'list of 5 words: {fakeobject.words(5)}')

single word: machine
list of 5 words: ['color', 'station', 'through', 'individual', 'yard']

In [85]:
listofwords = ['laptop', 'technology', 'science', 'mathematics', 'space']
print(f'random unique words: {fakeobject.words(3, listofwords, True)}')

random unique words: ['laptop', 'mathematics', 'space']

In [86]:
print(f'Random int: {fakeobject.random_int()}')
print(f'Random int: {fakeobject.random_int(0, 10)}')
print(f'Random digit: {fakeobject.random_digit()}')

Random int: 1203
Random int: 6
Random digit: 8

In [87]:
print("Faker methods related to Date and Time")
print(f'Date of birth: {fakeobject.date_of_birth()}')
print(f'Year: {fakeobject.year()}')
print(f'Month: {fakeobject.month()}')
print(f'Month name: {fakeobject.month_name()}')
print(f'Day of week: {fakeobject.day_of_week()}')
print(f'Day of month: {fakeobject.day_of_month()}')
print(f'Time zone: {fakeobject.timezone()}')

Faker methods related to Date and Time
Date of birth: 1917-02-15
Year: 1970
Month: 05
Month name: April
Day of week: Sunday
Day of month: 08
Time zone: Pacific/Tongatapu

**Generating dummy profiles**

In [88]:
profile1 = fakeobject.simple_profile()
profile2 = fakeobject.simple_profile('M')
profile3 = fakeobject.profile(sex='F')
print(profile1)
print(profile2)
print(profile3)

{'username': 'zochoa', 'name': 'Audrey Russell', 'sex': 'F', 'address': 'PSC 7797, Box 6482\nAPO AA 22335', 'mail': 'thomasarmstrong@yahoo.com', 'birthdate': datetime.date(1947, 4, 26)}
{'username': 'crystal74', 'name': 'Mr. Jerome Wolf', 'sex': 'M', 'address': '9280 Brian Manor\nFredborough, GA 61706', 'mail': 'brad30@gmail.com', 'birthdate': datetime.date(1925, 7, 2)}
{'job': 'Recruitment consultant', 'company': 'Wise-Johnson', 'ssn': '647-88-5840', 'residence': '0231 Waters Hill\nLukechester, UT 43612', 'current_location': (Decimal('70.3550665'), Decimal('-21.801755')), 'blood_group': 'O+', 'website': ['http://sharp.info/'], 'username': 'keith09', 'name': 'Brooke Lee', 'sex': 'F', 'address': '227 Long Loaf\nPort Susan, OK 10654', 'mail': 'dmeyers@hotmail.com', 'birthdate': datetime.date(2020, 5, 3)}

**Generating unique data points**

In [89]:
names = [fakeobject.unique.name() for i in range(10)]
for i in range (0,len(names)):
  print(names[i])

Katherine Levine
Mary Gamble
Danielle Holland
Jared Warner
Jay Perez
David Warner
Karen Joseph
Rhonda Pham
Nancy Daniel
Rebecca Lopez

In [90]:
Faker.seed(10)
print(fakeobject.name())

Jessica Lane

In [91]:
print(fakeobject.name())

Robert Colon

In [92]:
Faker.seed(10)
print(fakeobject.name())

Jessica Lane

**Generating currency-related information**

In [93]:
print(f'currency: {fakeobject.currency()}')
print(f'currency name: {fakeobject.currency_name()}')
print(f'currency code: {fakeobject.currency_code()}')

currency: ('GNF', 'Guinean franc')
currency name: Serbian dinar
currency code: SEK

In [94]:
print(f'currency name: {fakeobject.cryptocurrency_name()}')
print(f'currency code: {fakeobject.cryptocurrency()}')

currency name: PotCoin
currency code: ('TRX', 'TRON')

**Generating Hashes and UUIDs**

In [95]:
print(f'sha256: {fakeobject.sha256()}')
print(f'md5: {fakeobject.md5()}')
print(f'uuid4: {fakeobject.uuid4()}')

sha256: 19e8d8d8a5398ee248d8cf784880e41d4f7faf0228fb109ca7b84206d302e479
md5: d83fcdbfcd681f99a61d36162c861179
uuid4: 3fffc830-137a-4777-93e8-eb437d763fb9

**Generating Internet-related data**

In [96]:
print("Domain related information")
print(f'Host name: {fakeobject.hostname()}')
print(f'Domain name: {fakeobject.domain_name()}')
print(f'Domain word: {fakeobject.domain_word()}')
print(f'TLD: {fakeobject.tld()}')
print("")
print("Email related information")
print(f'Email: {fakeobject.email()}')
print(f'Safe email: {fakeobject.safe_email()}')
print(f'Free email: {fakeobject.free_email()}')
print(f'Company email: {fakeobject.company_email()}')
print("")
print("Internet protocol related information")
print(f'IPv4: {fakeobject.ipv4()}')
print(f'IPv6: {fakeobject.ipv6()}')
print(f'MAC address: {fakeobject.mac_address()}')

Domain related information
Host name: email-50.dalton-morrison.biz
Domain name: campbell-leonard.info
Domain word: jennings
TLD: com

Email related information
Email: stephendalton@example.org
Safe email: caustin@example.net
Free email: youngjames@yahoo.com
Company email: kelsey35@dunn.org

Internet protocol related information
IPv4: 42.2.196.127
IPv6: 69b1:dcbf:f843:bdb8:396b:a83b:d798:c9cf
MAC address: 7a:12:10:fe:9a:24

**Generating JSON data**

In [97]:
#Import libraries
from faker import Faker
import json
from random import randint
#Initilaiize the object
fakeobject = Faker()
#Method to generate dummy details of the employees
def input_data(x):
    employee_data ={}
    for i in range(0, x):
      employee_data[i]={}
      employee_data[i]['Employee Id']= randint(1, 10)
      employee_data[i]['name']= fakeobject.name()
      employee_data[i]['address']= fakeobject.address()
      employee_data[i]['job']= fakeobject.job()
      employee_data[i]['city']= fakeobject.city()
      print(employee_data)
    #dictionary dumped as json in a json file
    with open('employee.json', 'w') as fp:
      json.dump(employee_data, fp)
#defining the main method
def main():
    #variable to assign the number of employees
    number_of_employees = 2
    input_data(number_of_employees)
#Invoking the main method
main()

{0: {'Employee Id': 1, 'name': 'Sarah Hernandez', 'address': '211 Jackson Valley Apt. 566\nSanchezview, RI 68901', 'job': 'Editor, magazine features', 'city': 'West Stephenburgh'}}
{0: {'Employee Id': 1, 'name': 'Sarah Hernandez', 'address': '211 Jackson Valley Apt. 566\nSanchezview, RI 68901', 'job': 'Editor, magazine features', 'city': 'West Stephenburgh'}, 1: {'Employee Id': 4, 'name': 'Terri Thompson', 'address': '6308 Martin Island Apt. 147\nAguilarfurt, NM 88758', 'job': 'Financial controller', 'city': 'Abigailfort'}}

**Generating data points in multiple languages**

In [98]:
from faker import Faker
fakeobject = Faker('ja_JP')
for i in range(1,6):
    print(i," ",fakeobject.name())

1   高橋 稔
2   青木 くみ子
3   井上 春香
4   佐々木 さゆり
5   鈴木 舞

**Generating large datasets**

In [99]:
from faker import Faker
import pandas as pd
fakeobject = Faker()
person_data = [fakeobject.profile() for i in range(5)]
dataframe = pd.DataFrame(person_data)
dataframe

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,address,mail,birthdate
0,Animal technologist,Gonzales Inc,052-45-1520,"2768 Cooper Green Suite 658\nLake John, AZ 90550","(-37.4998485, 164.993365)",O-,[http://york-wright.com/],zavalajustin,Susan Wang,F,"9635 Christopher Fields\nClarkville, ME 61286",vwest@hotmail.com,1934-08-07
1,Geographical information systems officer,"Diaz, Burton and Burton",215-55-9991,"316 Madison Keys Suite 576\nLake Kara, UT 39036","(45.9644265, 88.108581)",AB+,"[https://barber-olson.info/, https://norris.co...",robinsonjulie,Elizabeth Hawkins,F,USNS Hudson\nFPO AA 78283,longmatthew@hotmail.com,1932-03-10
2,"Scientist, research (medical)","Gallagher, Blevins and Murphy",049-85-9475,5922 Catherine Way Suite 208\nChristophermouth...,"(-50.9402325, 58.770133)",O-,"[https://www.holloway-short.com/, https://davi...",stacey06,Kristy Huff,F,"53722 Lamb Mountain Suite 022\nHernandezfurt, ...",danielgriffith@yahoo.com,2004-08-28
3,Horticultural consultant,"Banks, Snow and Reed",535-80-7786,"26318 Garcia Locks Apt. 451\nNew Michelle, AK ...","(17.429113, -163.213662)",A+,"[https://www.williams.com/, http://www.roberts...",claudiavalenzuela,Andrea Bates,F,"697 Rogers Bypass\nBurtonfort, VT 48287",taylorjon@gmail.com,1968-12-05
4,"Administrator, Civil Service",Ramirez PLC,316-19-1713,"950 Reid Terrace Suite 820\nNew Bruceborough, ...","(-50.639028, -15.825235)",O+,"[http://caldwell.info/, http://www.powell.info/]",kgarza,Maureen Moore,F,"78598 Hernandez Row Suite 520\nBrownmouth, NC ...",ybishop@gmail.com,2001-03-15